<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <script src="../static/assets/js/jquery/jquery-1.10.2.min.js"
            th:src="@{/assets/js/jquery/jquery-1.10.2.min.js}"></script>
    <script src="../static/assets/js/bootstrap/bootstrap.min.js"
            th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>

</head>
<body>
<h2 style="text-align: center">注册界面</h2>
<form name="register_form" style="text-align: center" method="post">
    <label style="margin-right:20px ">账号：</label>
    <input type="text" name="userName" id="register_userName"><br>
    <label style="margin-right:20px">密码：</label>
    <input type="text" name="passWord" id="register_passWord" style="margin-top:20px">

    <br>
    <button id="register_bt_sumbit" style="margin-top:20px;width: 50px;height: 25px">注册</button>
</form>


<script th:src="@{/js/register.js}"></script>

</body>
</html>